.code-sample {font-size: 10px;}
.red {color: red;}
.blue {color: blue;}
.green {color: green;}
#masthead {
  padding-top: 100px;
  padding-bottom: 60px;
  color: #fff;
  background-color: #563d7c;
  /*font-family: "Vista Sans OT";*/
}
#sidebar.affix {
  position: fixed;
  top:60px;
  width:228px;
}
#sidebar.affix-top {
  margin-top:30px;
  width:228px;
}
#sidebar.affix-bottom {
  position: absolute;
}
header li.active {
  background-color:#f9f9f9;
}
.nav li a {
  font-weight: 500;
  color: #767676;
}
#sidebar li.active {
  border-left:2px #563d7c solid;
}
.nav li.active a {
  font-weight: 700;
  color: #563d7c;
}
.footer {
  margin-top: 120px;
  background-color: #cfd5db;
  padding-top: 40px;
  padding-bottom: 60px;
  box-shadow: 0px 1px 1px 0px #888888 inset;
  font-family: "Vista Sans OT";
}
.footer ul {
  list-style: none;
  padding: 0px;
}
div.screenshot {
  text-align: center;
  margin-bottom: 10px;
}
img.wide {border: 1px solid #eee; width: 90%;}
a.anchor{display: block; position: relative; top: -50px; visibility: hidden;}
body {position: relative; height: 100%;}
header {background-color: white; box-shadow: 0px 1px 5px #888888;}
pre {
  overflow: auto;
  word-wrap: normal;
  white-space: pre;
}